doctype html
html(lang="en")

  head
    title Reproject all the things!
    link(rel="stylesheet" href="style.css")

  body
    .container
      .row
        .col-md-4
          .page-header: h1 reproject.it
          #primary

    script(type="text/javascript" src="script.js")
