doctype html
html(lang="en")

  head

    title Reproject all the things!

    - ol = "http://ol3js.org/en/master/build/ol.js"
    script(type="text/javascript" src="#{ol}")
    script(type="text/javascript" src="script.js")

    link(rel="stylesheet" href="style.css")

  body
    .container
      .row
        .col-md-4
          .page-header: h1 reproject.it
          #primary
